{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Picture Gallery - {{title}}</title>
  {% else %}
  <title> Picture Gallery</title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}

</head>

<body>
  {% block content %}
  {% include 'navbar.html' %}

  {%endblock%}



  {% block scripts %}
  {% bootstrap_javascript %}
  {% endblock %}


</body>

</html>