{%extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/ind.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

<div class="container-fluid " style="font-family: Informative;">
  <h1 class="text-center">Explore My Gallery Store</h1>
</div>
<form class="navbar-form" role="filter" action="{% url 'filter' %}">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="filter by location" name="image">
    <div class="input-group-btn">
      <button class="btn btn-default bg-dark text-white " type="submit">FILTER</button>
    </div>
  </div>

</form>


<div class="container-fluid p-4 home " style="height: 700px;">
  <div class="row">
    {% for photo in image %}
    <div class="col-md-4 mt-3 img">
      
      <a href="{% url 'imagedetails' photo.id %}"><img src="{{photo.image_pic.url}}" class="card" alt="..."
          style="width: 400px; height: 290px;"></a>

    </div>
    {% empty %}
    <h3>Image is not available</h3>
    {% endfor %}
  </div>
</div>




{% include "footer.html" %}
{% endblock %}