{%extends 'base.html'%}
<!-- {% load static %}
{% load bootstrap5 %} -->

<!-- {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %} -->

{% block content %}
{{block.super}}

<div class="container">
    <h1 class="text-center">Image Gallery Coming Soon......</h1>
</div>
{% for photo in image %}
      <div class="container" id="imgs">
        <div class="hovereffect">
            <!-- <img class="img-fluid" src="{{photo.image.url}}" alt=""> -->
            <div class="overlay">
              <h2>{{photo.name}}</h2> 
              <!-- <p>{{photo.description}}</p>
              <p>{{photo.image_pic.url}}</p> -->
              <a class="info" href="{% url 'imagedetails' photo.id %}"><img src="{{photo.image_pic.url}}" class="img-responsive" alt="Image" style="width: 130px; height: 123px;">
              </a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>Image is not available</h3>
    {% endfor %}


{% endblock %}