{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
{{block.super}}



<div class="container bg-primary">
  <div class="row">
    <div class="col-md-8 img ">
      <img src="{{image.image_pic.url}}" class="img-responsive" alt="">
      
    </div>
  
    <div class="col-md-3">
      <h1>{{image.name}}</h1>
      <p>{{image.description}}</p>
      <h4> {{image.location}}</h4>
      <h4>{{image.category}}</h4>
      <button style="background:orangered; color:white; text-align:center;" onclick="CopyUrl()">Copy Image URL</button>
      <input style="text-align:center;" type="text" value="{{image.image_pic.url}}" id="url">
  
    </div>
  </div>

  {% block scripts %}
  {% bootstrap_javascript %}
  <script>
    function CopyUrl() {
      var text = document.getElementById('url')
      text.select();
      document.execCommand('copy')
      alert('The image URL has been copied')
    }
  </script>
  {% endblock %}

</div>

{% endblock %}