{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
{{block.super}}



<div class="container-fluid home pb-4">
  <div class="row container">
    <div class="col-md-8 img my-4">
      <img src="{{image.image_pic.url}}" class="img-responsive" alt="">

    
    </div>


    <div class="col-md-3 my-4">
      <h3>Image Name: <span style="color:orangered; ">{{image.name}}</span></h3>
       <h3>Description:</h3>
      <p><span style="color:orangered; font-style: italic;">{{image.description}}</span></p>
     

     
      <p>Location: <span style="color:orangered; font-style: italic;">{{image.location}}</span></p>
      
      <p>Category: <span style="color:orangered; font-style: italic;">{{image.category}}</span></p>

      
      <input style="text-align:center;" type="text" value="{{image.image_pic.url}}" id="url">
      <button style="background:orangered; color:white; text-align:center;" onclick="CopyUrl()">Copy Image URL</button>

    </div>
  </div>

  {% block scripts %}
  {% bootstrap_javascript %}
  <script>
    function CopyUrl() {
      var text = document.getElementById('url')
      text.select();
      document.execCommand('copy')
      alert('The image URL has been copied')
    }
  </script>
  {% endblock %}

</div>
{% include "footer.html" %}
{% endblock %}