{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

<!-- <p>View all details</p> -->

<div class="container-fluid home pb-4">
  <div class="row container">
    <div class="col-md-8 img my-4">
      <img src="{{image.image_pic.url}}" class="img-responsive" alt="">
      
      <!-- <h1>{{image.name}}</h1>
      <p>{{image.description}}</p>
      <h4> {{image.location}}</h4>
      <h4>{{image.category}}</h4> -->
      <!-- <button style="background:orangered; color:white; text-align:center;" onclick="CopyUrl()">Copy Image URL</button>
      <input style="text-align:center;" type="text" value="{{image.image_pic.url}}" id="url">
   -->
    </div>
    
  
    <div class="col-md-3 my-4">
      <h1>Name: {{image.name}}</h1>
      <p> Description: {{image.description}}</p>
      <h4>Location: {{image.location}}</h4>
      <h4>Category: {{image.category}}</h4>
      <button style="background:orangered; color:white; text-align:center;" onclick="CopyUrl()">Copy Image URL</button>
      <input style="text-align:center;" type="text" value="{{image.image_pic.url}}" id="url">
  
    </div>
  </div>

  {% block scripts %}
  {% bootstrap_javascript %}
  <script>
    function CopyUrl() {
      var text = document.getElementById('url')
      text.select();
      document.execCommand('copy')
      alert('The image URL has been copied')
    }
  </script>
  {% endblock %}

</div>
{% include "footer.html" %}
{% endblock %}