{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block content %}
{{block.super}}

<div class="container-fluid" style="background-color: rgb(181,197,197);; height:600px">

    <div class="row">
        {% if image%}
        <!-- <h2>Found {{ image|length }} results of searched category {{message}}</h2> -->
        {% else %}
        <h2> No search results associated with {{message}} Category</h2>
        </h2>
        {% endif %}

    </div>

    <div class="row">

        {% if image %}
        {% for img in image %}
        <div class="col-sm-4">
            <img src="{{img.image_pic.url}}" class="card" style="width: 400px; height: 290px;">
            {{img.description}}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% include "footer.html"%}
{% endblock %}