*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    height: 500px;
    width:700px;
    box-shadow: 2px 2px red;
    border-radius: 39px;


}
.img{
    width: 740px;
    /* height: 800px; */
    height: 520px;

    box-shadow: 3px 0px red;
}
.home{
    background-color: rgb(181,197,197);
}